body {
    display: flex;
    justify-content: center;
    background-color: black;
}
img {
    width: 500px;
    margin-bottom: 20px;
}

#input1 {
    background-color: #3EB489;
    color: wheat;
    border: none;
}

.item-description {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}

.item-completed:checked + .item-description {
    background: darkred !important;
    text-decoration: line-through;
}

#add {
    padding: 8px 14px;
    font-weight: bold;
    color: #ee730ee3;
    cursor: pointer;
}

#delete {
    color: wheat;
    font-size: 17px;
}