* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: wheat;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 600px;
}

img {
    margin-bottom: 20px;
    width: 200px;
}

#to-do-input {
    font-size: 20px;
    padding: 10px;
    width: 70%;
}

#add-button {
    border: none;
    background-color: #943e165b;
    color: wheat;
    font-size: 20px;
    padding: 10px 20px;
}

#add-button:hover {
    background-color: #7e38185b;
}

#to-do-list {
    margin-top: 20px;
    text-align: left;
}

.list-width {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tick-button,
.delete-button {
    background-color: black;
    border: none;
    color: wheat;
    font-size: 14px;
    padding: 5px 10px;
}

.tick-button:hover,
.delete-button:hover {
    background-color: #7e38185b;
}

.completed {
    text-decoration: line-through;
}
